<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Unpivot_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x79f888543b90>

In [8]:
data=[
    ('IT',10,5,0),
    ('Finance',4,6,1),
    ('HR',6,3,2)
]

schema=['dep','male','female','unknown']

df=spark.createDataFrame(data,schema)
df.show()

+-------+----+------+-------+
|    dep|male|female|unknown|
+-------+----+------+-------+
|     IT|  10|     5|      0|
|Finance|   4|     6|      1|
|     HR|   6|     3|      2|
+-------+----+------+-------+

In [9]:
from pyspark.sql.functions import expr

df.select('dep',expr("stack(2,'M',male,'F',female)").alias('gender','count')).show()

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|     M|   10|
|     IT|     F|    5|
|Finance|     M|    4|
|Finance|     F|    6|
|     HR|     M|    6|
|     HR|     F|    3|
+-------+------+-----+

In [11]:
df.select('dep',expr("stack(3,'M',male,'F',female,'UN',unknown)").alias('gender','count')).show()

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|     M|   10|
|     IT|     F|    5|
|     IT|    UN|    0|
|Finance|     M|    4|
|Finance|     F|    6|
|Finance|    UN|    1|
|     HR|     M|    6|
|     HR|     F|    3|
|     HR|    UN|    2|
+-------+------+-----+