<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_RDD(Reslilent_Distributed_Dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7de6402b6650>

In [4]:
data=[(1,'bala'),(2,'kumar'),(3,'balakumar')]

rdd=spark.sparkContext.parallelize(data)

print(rdd.collect())

[(1, 'bala'), (2, 'kumar'), (3, 'balakumar')]

In [6]:
df=rdd.toDF(schema=['id','name'])
df.show()

+---+---------+
| id|     name|
+---+---------+
|  1|     bala|
|  2|    kumar|
|  3|balakumar|
+---+---------+

In [9]:
df=spark.createDataFrame(rdd,['emp_id','name'])
df.show()

+------+---------+
|emp_id|     name|
+------+---------+
|     1|     bala|
|     2|    kumar|
|     3|balakumar|
+------+---------+