<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_get_json_object_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x794b1a99ad50>

In [7]:
data=[
    (1,'bala','{"address":{"city":"dharapuram","state":"tamilnadu"},"gender":"male","eye":"blue"}'),
    (2,'kumar','{"address":{"city":"dharapuram","state":"tamilnadu"},"hair":"black"}')
]

schema=['id','name','properties']

df=spark.createDataFrame(data,schema)

df.show(truncate=False)

+---+-----+----------------------------------------------------------------------------------+
|id |name |properties                                                                        |
+---+-----+----------------------------------------------------------------------------------+
|1  |bala |{"address":{"city":"dharapuram","state":"tamilnadu"},"gender":"male","eye":"blue"}|
|2  |kumar|{"address":{"city":"dharapuram","state":"tamilnadu"},"hair":"black"}              |
+---+-----+----------------------------------------------------------------------------------+

In [11]:
from pyspark.sql.functions import json_tuple,get_json_object

df.select('id','name',json_tuple('properties','address','gender').alias('address','gender')).show(truncate=False)

+---+-----+-----------------------------------------+------+
|id |name |address                                  |gender|
+---+-----+-----------------------------------------+------+
|1  |bala |{"city":"dharapuram","state":"tamilnadu"}|male  |
|2  |kumar|{"city":"dharapuram","state":"tamilnadu"}|NULL  |
+---+-----+-----------------------------------------+------+

In [16]:
df.select('id','name',get_json_object('properties','$.address.city').alias('city'),get_json_object('properties','$.address.state').alias('state')).show(truncate=False)

+---+-----+----------+---------+
|id |name |city      |state    |
+---+-----+----------+---------+
|1  |bala |dharapuram|tamilnadu|
|2  |kumar|dharapuram|tamilnadu|
+---+-----+----------+---------+