<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Timestamp_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7c6d407527d0>

In [4]:
df=spark.range(2)
df.show()

+---+
| id|
+---+
|  0|
|  1|
+---+

In [21]:
from pyspark.sql.functions import current_timestamp,to_timestamp,hour,minute,second,date_format

df1=df.withColumn('current_timestamp',current_timestamp())
df1.show(truncate=False)
df1.printSchema()

+---+-------------------------+
|id |current_timestamp        |
+---+-------------------------+
|0  |2025-03-08 10:23:59.32892|
|1  |2025-03-08 10:23:59.32892|
+---+-------------------------+

root
 |-- id: long (nullable = false)
 |-- current_timestamp: timestamp (nullable = false)

In [22]:
df2=df1.withColumn('format_timestamp',date_format(df1.current_timestamp,'dd-MMM-yyyy HH:mm:ss'))
df2.show(truncate=False)
df2.printSchema()

+---+--------------------------+--------------------+
|id |current_timestamp         |format_timestamp    |
+---+--------------------------+--------------------+
|0  |2025-03-08 10:24:02.430066|08-Mar-2025 10:24:02|
|1  |2025-03-08 10:24:02.430066|08-Mar-2025 10:24:02|
+---+--------------------------+--------------------+

root
 |-- id: long (nullable = false)
 |-- current_timestamp: timestamp (nullable = false)
 |-- format_timestamp: string (nullable = false)

In [23]:
df3=df2.withColumn('to_timestamp',to_timestamp(df2.format_timestamp,'dd-MMM-yyyy HH:mm:ss'))
df3.show(truncate=False)
df3.printSchema()

+---+--------------------------+--------------------+-------------------+
|id |current_timestamp         |format_timestamp    |to_timestamp       |
+---+--------------------------+--------------------+-------------------+
|0  |2025-03-08 10:24:06.526518|08-Mar-2025 10:24:06|2025-03-08 10:24:06|
|1  |2025-03-08 10:24:06.526518|08-Mar-2025 10:24:06|2025-03-08 10:24:06|
+---+--------------------------+--------------------+-------------------+

root
 |-- id: long (nullable = false)
 |-- current_timestamp: timestamp (nullable = false)
 |-- format_timestamp: string (nullable = false)
 |-- to_timestamp: timestamp (nullable = true)

In [24]:
df4=df3.select('id','current_timestamp','format_timestamp','to_timestamp',hour(df3.to_timestamp).alias('hour'),\
           minute(df3.to_timestamp).alias('minute'),second(df3.to_timestamp).alias('second'))

df4.show(truncate=False)

+---+--------------------------+--------------------+-------------------+----+------+------+
|id |current_timestamp         |format_timestamp    |to_timestamp       |hour|minute|second|
+---+--------------------------+--------------------+-------------------+----+------+------+
|0  |2025-03-08 10:24:11.201081|08-Mar-2025 10:24:11|2025-03-08 10:24:11|10  |24    |11    |
|1  |2025-03-08 10:24:11.201081|08-Mar-2025 10:24:11|2025-03-08 10:24:11|10  |24    |11    |
+---+--------------------------+--------------------+-------------------+----+------+------+