<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Orderby_and_Sort_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7e06c0593ad0>

In [2]:
data=[
    (1,'bala','male',25),
    (2,'kumar','male',24),
    (3,'balakumar','male','26'),
    (4,'kumarbala','male','23')
]

schema=['id','name','gender','age']

df=spark.createDataFrame(data,schema)
df.show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  1|     bala|  male| 25|
|  2|    kumar|  male| 24|
|  3|balakumar|  male| 26|
|  4|kumarbala|  male| 23|
+---+---------+------+---+

In [3]:
df.sort(df.name.asc()).show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  1|     bala|  male| 25|
|  3|balakumar|  male| 26|
|  2|    kumar|  male| 24|
|  4|kumarbala|  male| 23|
+---+---------+------+---+

In [4]:
df.sort(df['name'].desc()).show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  4|kumarbala|  male| 23|
|  2|    kumar|  male| 24|
|  3|balakumar|  male| 26|
|  1|     bala|  male| 25|
+---+---------+------+---+

In [5]:
from pyspark.sql.functions import col

df.sort(col('name').asc()).show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  1|     bala|  male| 25|
|  3|balakumar|  male| 26|
|  2|    kumar|  male| 24|
|  4|kumarbala|  male| 23|
+---+---------+------+---+

In [6]:
df.orderBy(df.age.asc()).show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  4|kumarbala|  male| 23|
|  2|    kumar|  male| 24|
|  1|     bala|  male| 25|
|  3|balakumar|  male| 26|
+---+---------+------+---+

In [7]:
df.orderBy(df['age'].desc()).show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  3|balakumar|  male| 26|
|  1|     bala|  male| 25|
|  2|    kumar|  male| 24|
|  4|kumarbala|  male| 23|
+---+---------+------+---+

In [8]:
df.orderBy(col('age').asc()).show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  4|kumarbala|  male| 23|
|  2|    kumar|  male| 24|
|  1|     bala|  male| 25|
|  3|balakumar|  male| 26|
+---+---------+------+---+

In [10]:
df.orderBy(df.age,ascending=True).show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  4|kumarbala|  male| 23|
|  2|    kumar|  male| 24|
|  1|     bala|  male| 25|
|  3|balakumar|  male| 26|
+---+---------+------+---+

In [11]:
df.sort(df['age'],ascending=False).show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  3|balakumar|  male| 26|
|  1|     bala|  male| 25|
|  2|    kumar|  male| 24|
|  4|kumarbala|  male| 23|
+---+---------+------+---+