<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Write_to_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7a508d742410>

In [4]:
from pyspark.sql.types import *

schema=StructType().add('id',IntegerType(),True) \
                 .add('name',StringType(),True) \
                 .add('age',IntegerType(),True)

data=[(1,'bala',25),(2,'kumar',25)]

df=spark.createDataFrame(data,schema)
df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1| bala| 25|
|  2|kumar| 25|
+---+-----+---+

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
df.coalesce(1).write.csv(path='/content/drive/My Drive/Colab Notebooks/csv/csv2',header=True,sep='|',mode='overwrite') #overwrite,append,error,ignore

spark.read.csv(path='/content/drive/My Drive/Colab Notebooks/csv/csv2',header=True,sep='|').show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1| bala| 25|
|  2|kumar| 25|
+---+-----+---+

In [23]:
df.write.format('csv') \
        .options(header=True,sep='|') \
        .mode('overwrite') \
        .save('/content/drive/My Drive/Colab Notebooks/csv/csv3')

df8=spark.read.format('csv') \
              .options(header=True,sep='|') \
              .load('/content/drive/My Drive/Colab Notebooks/csv/csv3')
df8.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1| bala| 25|
|  2|kumar| 25|
+---+-----+---+