<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_CreateOrReplaceTempView_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Pyspark') \
                            .master('local') \
                            .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7814c99c6350>

In [2]:
data=[
    (1,'bala','male',40000),
    (2,'kumar','male',60000),
    (3,'balakumar','male',160000)
]

schema=['id','name','gender','salary']

df=spark.createDataFrame(data,schema)
df.show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  1|     bala|  male| 40000|
|  2|    kumar|  male| 60000|
|  3|balakumar|  male|160000|
+---+---------+------+------+

In [31]:
df.createOrReplaceTempView('employee_details')

df1=spark.sql('select id,name,gender,salary,sum(salary) over (partition by gender order by id asc) cum_salary From employee_details')
df1.show()

+---+---------+------+------+----------+
| id|     name|gender|salary|cum_salary|
+---+---------+------+------+----------+
|  1|     bala|  male| 40000|     40000|
|  2|    kumar|  male| 60000|    100000|
|  3|balakumar|  male|160000|    260000|
+---+---------+------+------+----------+