<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Write_DataFrame_into_JSON_format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [33]:
df = spark.read.csv('/content/drive/My Drive/Colab Notebooks/Testfiles/csv/csv1/*.csv',inferSchema=True,header=True)

df.show(truncate=False)
df.printSchema()
df.count()

+----------+-----------+-------------------+-------------------------+---------+
|orderId   |orderStatus|orderTime          |restaurant               |totalCost|
+----------+-----------+-------------------+-------------------------+---------+
|1.59373E14|Delivered  |2023-11-19 19:40:53|Domino's Pizza           |278      |
|1.59351E14|Delivered  |2023-11-19 13:45:31|A2B - Adyar Ananda Bhavan|227      |
|1.56328E14|Delivered  |2023-10-15 13:51:36|A2B - Adyar Ananda Bhavan|229      |
|1.55747E14|Delivered  |2023-10-08 20:28:10|Dindigul Thalappakatti   |187      |
|1.55721E14|Delivered  |2023-10-08 13:17:31|A2B - Adyar Ananda Bhavan|191      |
|1.55636E14|Delivered  |2023-10-07 13:47:25|A2B - Adyar Ananda Bhavan|256      |
|1.73092E11|Delivered  |2023-07-22 14:36:33|A2B - Adyar Ananda Bhavan|180      |
|1.72593E11|Delivered  |2023-07-16 20:07:57|Domino's Pizza           |578      |
|1.72572E11|Delivered  |2023-07-16 14:11:50|A2B - Adyar Ananda Bhavan|361      |
|1.70174E11|Delivered  |2023-06-18 20:03:44|Anjappar                 |218      |
|1.68943E11|Delivered  |2023-06-04 14:07:04|A2B - Adyar Ananda Bhavan|250      |
|1.68862E11|Delivered  |2023-06-03 15:37:22|Domino's Pizza           |208      |
|1.68339E11|Delivered  |2023-05-28 14:17:02|A2B - Adyar Ananda Bhavan|241      |
|1.66009E11|Delivered  |2023-05-01 15:04:37|Domino's Pizza           |214      |
|1.65835E11|Delivered  |2023-04-29 14:39:33|A2B - Adyar Ananda Bhavan|200      |
|1.64559E11|Delivered  |2023-04-14 20:16:18|Domino's Pizza           |187      |
|1.59871E11|Delivered  |2023-02-19 14:10:04|A2B - Adyar Ananda Bhavan|162      |
|1.59693E11|Delivered  |2023-02-17 12:41:04|A2B - Adyar Ananda Bhavan|1239     |
|1.5921E11 |Delivered  |2023-02-11 22:26:45|Dindigul Thalappakatti   |172      |
|1.58681E11|Delivered  |2023-02-05 19:29:24|Dindigul Thalappakatti   |220      |
+----------+-----------+-------------------+-------------------------+---------+
only showing top 20 rows

root
 |-- orderId: double (nullable = true)
 |-- orderStatus: string (nullable = true)
 |-- orderTime: timestamp (nullable = true)
 |-- restaurant: string (nullable = true)
 |-- totalCost: integer (nullable = true)

54

In [52]:
df.write.json('/content/drive/My Drive/Colab Notebooks/Testfiles/json/json1/jsonwrite',mode='overwrite')

df1=spark.read.json('/content/drive/My Drive/Colab Notebooks/Testfiles/json/json1/jsonwrite')

df1.select(*df1.columns).show()
df1.printSchema()
df1.count()

+----------+-----------+--------------------+--------------------+---------+
|   orderId|orderStatus|           orderTime|          restaurant|totalCost|
+----------+-----------+--------------------+--------------------+---------+
|1.59373E14|  Delivered|2023-11-19T19:40:...|      Domino's Pizza|      278|
|1.59351E14|  Delivered|2023-11-19T13:45:...|A2B - Adyar Anand...|      227|
|1.56328E14|  Delivered|2023-10-15T13:51:...|A2B - Adyar Anand...|      229|
|1.55747E14|  Delivered|2023-10-08T20:28:...|Dindigul Thalappa...|      187|
|1.55721E14|  Delivered|2023-10-08T13:17:...|A2B - Adyar Anand...|      191|
|1.55636E14|  Delivered|2023-10-07T13:47:...|A2B - Adyar Anand...|      256|
|1.73092E11|  Delivered|2023-07-22T14:36:...|A2B - Adyar Anand...|      180|
|1.72593E11|  Delivered|2023-07-16T20:07:...|      Domino's Pizza|      578|
|1.72572E11|  Delivered|2023-07-16T14:11:...|A2B - Adyar Anand...|      361|
|1.70174E11|  Delivered|2023-06-18T20:03:...|            Anjappar|      218|
|1.68943E11|  Delivered|2023-06-04T14:07:...|A2B - Adyar Anand...|      250|
|1.68862E11|  Delivered|2023-06-03T15:37:...|      Domino's Pizza|      208|
|1.68339E11|  Delivered|2023-05-28T14:17:...|A2B - Adyar Anand...|      241|
|1.66009E11|  Delivered|2023-05-01T15:04:...|      Domino's Pizza|      214|
|1.65835E11|  Delivered|2023-04-29T14:39:...|A2B - Adyar Anand...|      200|
|1.64559E11|  Delivered|2023-04-14T20:16:...|      Domino's Pizza|      187|
|1.59871E11|  Delivered|2023-02-19T14:10:...|A2B - Adyar Anand...|      162|
|1.59693E11|  Delivered|2023-02-17T12:41:...|A2B - Adyar Anand...|     1239|
| 1.5921E11|  Delivered|2023-02-11T22:26:...|Dindigul Thalappa...|      172|
|1.58681E11|  Delivered|2023-02-05T19:29:...|Dindigul Thalappa...|      220|
+----------+-----------+--------------------+--------------------+---------+
only showing top 20 rows

root
 |-- orderId: double (nullable = true)
 |-- orderStatus: string (nullable = true)
 |-- orderTime: string (nullable = true)
 |-- restaurant: string (nullable = true)
 |-- totalCost: long (nullable = true)

54

In [80]:
from pyspark.sql.functions import date_format, to_timestamp

df2 = df1.withColumn('orderTime',to_timestamp('orderTime')) \
         .withColumn('orderTime', date_format('orderTime','dd-MMM-yyyy HH:mm:ss'))

df2.select(*df2.columns).show()
df2.printSchema()
df2.count()

+----------+-----------+--------------------+--------------------+---------+
|   orderId|orderStatus|           orderTime|          restaurant|totalCost|
+----------+-----------+--------------------+--------------------+---------+
|1.59373E14|  Delivered|19-Nov-2023 19:40:53|      Domino's Pizza|      278|
|1.59351E14|  Delivered|19-Nov-2023 13:45:31|A2B - Adyar Anand...|      227|
|1.56328E14|  Delivered|15-Oct-2023 13:51:36|A2B - Adyar Anand...|      229|
|1.55747E14|  Delivered|08-Oct-2023 20:28:10|Dindigul Thalappa...|      187|
|1.55721E14|  Delivered|08-Oct-2023 13:17:31|A2B - Adyar Anand...|      191|
|1.55636E14|  Delivered|07-Oct-2023 13:47:25|A2B - Adyar Anand...|      256|
|1.73092E11|  Delivered|22-Jul-2023 14:36:33|A2B - Adyar Anand...|      180|
|1.72593E11|  Delivered|16-Jul-2023 20:07:57|      Domino's Pizza|      578|
|1.72572E11|  Delivered|16-Jul-2023 14:11:50|A2B - Adyar Anand...|      361|
|1.70174E11|  Delivered|18-Jun-2023 20:03:44|            Anjappar|      218|
|1.68943E11|  Delivered|04-Jun-2023 14:07:04|A2B - Adyar Anand...|      250|
|1.68862E11|  Delivered|03-Jun-2023 15:37:22|      Domino's Pizza|      208|
|1.68339E11|  Delivered|28-May-2023 14:17:02|A2B - Adyar Anand...|      241|
|1.66009E11|  Delivered|01-May-2023 15:04:37|      Domino's Pizza|      214|
|1.65835E11|  Delivered|29-Apr-2023 14:39:33|A2B - Adyar Anand...|      200|
|1.64559E11|  Delivered|14-Apr-2023 20:16:18|      Domino's Pizza|      187|
|1.59871E11|  Delivered|19-Feb-2023 14:10:04|A2B - Adyar Anand...|      162|
|1.59693E11|  Delivered|17-Feb-2023 12:41:04|A2B - Adyar Anand...|     1239|
| 1.5921E11|  Delivered|11-Feb-2023 22:26:45|Dindigul Thalappa...|      172|
|1.58681E11|  Delivered|05-Feb-2023 19:29:24|Dindigul Thalappa...|      220|
+----------+-----------+--------------------+--------------------+---------+
only showing top 20 rows

root
 |-- orderId: double (nullable = true)
 |-- orderStatus: string (nullable = true)
 |-- orderTime: string (nullable = true)
 |-- restaurant: string (nullable = true)
 |-- totalCost: long (nullable = true)

54