<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Union_and_UnionAll_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7d558bf46850>

In [3]:
data1=[
    (1,'bala','male',25000),
    (2,'kumar','male',26000)
    ]

data2=[
    (3,'kumarbala','male',27000),
    (4,'balakumar','male',29000),
    (3,'kumarbala','male',27000),
    (4,'balakumar','male',29000)
]

schema=['id','name','gender','salary']

df1=spark.createDataFrame(data1,schema)
df2=spark.createDataFrame(data2,schema)

df1.show()
df2.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  1| bala|  male| 25000|
|  2|kumar|  male| 26000|
+---+-----+------+------+

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  3|kumarbala|  male| 27000|
|  4|balakumar|  male| 29000|
|  3|kumarbala|  male| 27000|
|  4|balakumar|  male| 29000|
+---+---------+------+------+

In [4]:
df1.union(df2).show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  1|     bala|  male| 25000|
|  2|    kumar|  male| 26000|
|  3|kumarbala|  male| 27000|
|  4|balakumar|  male| 29000|
|  3|kumarbala|  male| 27000|
|  4|balakumar|  male| 29000|
+---+---------+------+------+

In [6]:
df2.unionAll(df1).show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  3|kumarbala|  male| 27000|
|  4|balakumar|  male| 29000|
|  3|kumarbala|  male| 27000|
|  4|balakumar|  male| 29000|
|  1|     bala|  male| 25000|
|  2|    kumar|  male| 26000|
+---+---------+------+------+

In [7]:
df1.union(df2).distinct().show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  2|    kumar|  male| 26000|
|  1|     bala|  male| 25000|
|  3|kumarbala|  male| 27000|
|  4|balakumar|  male| 29000|
+---+---------+------+------+

In [12]:
df1.unionAll(df2).dropDuplicates().show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  2|    kumar|  male| 26000|
|  1|     bala|  male| 25000|
|  3|kumarbala|  male| 27000|
|  4|balakumar|  male| 29000|
+---+---------+------+------+