<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Datefunctions(datediff%2Cmonths_between%2Cadd_months%2Cdate_add%2Cyear%2Cmonth).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7900c9c20c50>

In [6]:
data=[('2024-10-05','2025-05-01')]

schema=['start_date','end_date']

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+----------+----------+
|start_date|  end_date|
+----------+----------+
|2024-10-05|2025-05-01|
+----------+----------+

root
 |-- start_date: string (nullable = true)
 |-- end_date: string (nullable = true)

In [7]:
df1=df.withColumn('start_date',df.start_date.cast('date')) \
      .withColumn('end_date',df.end_date.cast('date'))

df1.show()
df1.printSchema()

+----------+----------+
|start_date|  end_date|
+----------+----------+
|2024-10-05|2025-05-01|
+----------+----------+

root
 |-- start_date: date (nullable = true)
 |-- end_date: date (nullable = true)

In [27]:
from pyspark.sql.functions import datediff,months_between,add_months,date_add,year,month,dayofmonth,date_trunc,date_sub, round, day, weekofyear, weekday

df1.withColumn('datediff',datediff(df1.end_date,df1.start_date)).show()

+----------+----------+--------+
|start_date|  end_date|datediff|
+----------+----------+--------+
|2024-10-05|2025-05-01|     208|
+----------+----------+--------+

In [15]:
df1.withColumn('months_between',round(months_between(df1.end_date,df1.start_date))).show()

+----------+----------+--------------+
|start_date|  end_date|months_between|
+----------+----------+--------------+
|2024-10-05|2025-05-01|           7.0|
+----------+----------+--------------+

In [16]:
df1.withColumn('dateadd',date_add(df1.end_date,10)).show()

+----------+----------+----------+
|start_date|  end_date|   dateadd|
+----------+----------+----------+
|2024-10-05|2025-05-01|2025-05-11|
+----------+----------+----------+

In [17]:
df1.withColumn('datesub',date_sub(df1.end_date,35)).show()

+----------+----------+----------+
|start_date|  end_date|   datesub|
+----------+----------+----------+
|2024-10-05|2025-05-01|2025-03-27|
+----------+----------+----------+

In [18]:
df1.withColumn('addmonth',add_months(df1.start_date,3)).show()

+----------+----------+----------+
|start_date|  end_date|  addmonth|
+----------+----------+----------+
|2024-10-05|2025-05-01|2025-01-05|
+----------+----------+----------+

In [19]:
df1.withColumn('submonths',add_months(df1.start_date,-10)).show()

+----------+----------+----------+
|start_date|  end_date| submonths|
+----------+----------+----------+
|2024-10-05|2025-05-01|2023-12-05|
+----------+----------+----------+

In [20]:
df1.withColumn('year',year(df1.start_date)).show()

+----------+----------+----+
|start_date|  end_date|year|
+----------+----------+----+
|2024-10-05|2025-05-01|2024|
+----------+----------+----+

In [21]:
df1.withColumn('month',month(df1.start_date)).show()

+----------+----------+-----+
|start_date|  end_date|month|
+----------+----------+-----+
|2024-10-05|2025-05-01|   10|
+----------+----------+-----+

In [30]:
df1.withColumn('day',day(df1.end_date)).show()

+----------+----------+---+
|start_date|  end_date|day|
+----------+----------+---+
|2024-10-05|2025-05-01|  1|
+----------+----------+---+

In [29]:
df1.withColumn('dayofmonth',weekday(df1.end_date)).show()

+----------+----------+----------+
|start_date|  end_date|dayofmonth|
+----------+----------+----------+
|2024-10-05|2025-05-01|         3|
+----------+----------+----------+

In [34]:
from pyspark.sql.functions import current_date, date_format, to_date

df1.withColumn('current_date',current_date()).show()
df1.withColumn('current_date',to_date(date_format(current_date(),'dd-MMM-yyyy'),'dd-MMM-yyyy')).show()

+----------+----------+------------+
|start_date|  end_date|current_date|
+----------+----------+------------+
|2024-10-05|2025-05-01|  2025-03-08|
+----------+----------+------------+

+----------+----------+------------+
|start_date|  end_date|current_date|
+----------+----------+------------+
|2024-10-05|2025-05-01|  2025-03-08|
+----------+----------+------------+