<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_StructType()_and_STructField()_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

In [3]:
data=[(1,'bala',62000),(2,'kumar',150000)]
schema=['id','name','salary']

df = spark.createDataFrame(data,schema)

df.show()
df.printSchema()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1| bala| 62000|
|  2|kumar|150000|
+---+-----+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [7]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

schema1=StructType([
    StructField('id',IntegerType(),True),
    StructField('name',StringType(),True),
    StructField('salary',IntegerType(),True)
])

df1=spark.createDataFrame(data,schema1)

df1.show()

df1.printSchema()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1| bala| 62000|
|  2|kumar|150000|
+---+-----+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [9]:
data2=[
    (1,('bala','kumar'),65000),
    (2,('kumar','bala'),150000)
]

schema2=StructType([
    StructField('id',IntegerType(),True),
    StructField('name',StructType([
        StructField('firstname',StringType(),True),
        StructField('lastname',StringType(),True)
    ])),
    StructField('salary',IntegerType(),True)
])

df2=spark.createDataFrame(data2,schema2)

df2.show()

df2.printSchema()

+---+-------------+------+
| id|         name|salary|
+---+-------------+------+
|  1|{bala, kumar}| 65000|
|  2|{kumar, bala}|150000|
+---+-------------+------+

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- salary: integer (nullable = true)

In [25]:
from pyspark.sql.functions import col

df2.select(df2['name.firstname'].alias('name1'),'name.lastname').show()

+-----+--------+
|name1|lastname|
+-----+--------+
| bala|   kumar|
|kumar|    bala|
+-----+--------+