<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Map_keys()%2C_Map_values()_and_explode()_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7c2f3679b450>

In [4]:
from pyspark.sql.functions import explode,map_keys,map_values
from pyspark.sql.types import StructType,StructField,StringType,LongType,MapType,IntegerType

data=[
    (1, 'bala',{"Primary": "Python", "Secondary": "SQL"}),
    (2, 'kumar',{"Primary": "Java", "Secondary": "Scala"})
]

schema=StructType([
    StructField('id',IntegerType(),True),
    StructField('name',StringType(),True),
    StructField('skills',MapType(StringType(),StringType()))
])

df=spark.createDataFrame(data,schema)
df.show(truncate=False)
df.printSchema()

+---+-----+-------------------------------------+
|id |name |skills                               |
+---+-----+-------------------------------------+
|1  |bala |{Secondary -> SQL, Primary -> Python}|
|2  |kumar|{Secondary -> Scala, Primary -> Java}|
+---+-----+-------------------------------------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [11]:
df1=df.select('id','name',explode(df.skills),map_keys('skills').alias('Akey'),map_values('skills').alias('Avalue'))
df1.show()

+---+-----+---------+------+--------------------+-------------+
| id| name|      key| value|                Akey|       Avalue|
+---+-----+---------+------+--------------------+-------------+
|  1| bala|Secondary|   SQL|[Secondary, Primary]|[SQL, Python]|
|  1| bala|  Primary|Python|[Secondary, Primary]|[SQL, Python]|
|  2|kumar|Secondary| Scala|[Secondary, Primary]|[Scala, Java]|
|  2|kumar|  Primary|  Java|[Secondary, Primary]|[Scala, Java]|
+---+-----+---------+------+--------------------+-------------+