<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Select_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7ced3757a4d0>

In [2]:
data=[
    (1, "Alice", 25, "F", "Engineer"),
    (2, "Bob", 30, "M", "Doctor"),
    (3, "Charlie", 35, "M", "Teacher"),
    (4, "David", 40, "M", "Lawyer"),
    (5, "Emma", 28, "F", "Scientist")
]

schema=['id','name','age','gender','occupation']


df=spark.createDataFrame(data,schema)
df.show()

+---+-------+---+------+----------+
| id|   name|age|gender|occupation|
+---+-------+---+------+----------+
|  1|  Alice| 25|     F|  Engineer|
|  2|    Bob| 30|     M|    Doctor|
|  3|Charlie| 35|     M|   Teacher|
|  4|  David| 40|     M|    Lawyer|
|  5|   Emma| 28|     F| Scientist|
+---+-------+---+------+----------+

In [3]:
df.select('name','age').show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
|  David| 40|
|   Emma| 28|
+-------+---+

In [4]:
df.select(df['name'],df['age']).show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
|  David| 40|
|   Emma| 28|
+-------+---+

In [6]:
from pyspark.sql.functions import col

df.select(col('name'),col('age')).show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
|  David| 40|
|   Emma| 28|
+-------+---+

In [7]:
df.select(['name','age','occupation']).show()

+-------+---+----------+
|   name|age|occupation|
+-------+---+----------+
|  Alice| 25|  Engineer|
|    Bob| 30|    Doctor|
|Charlie| 35|   Teacher|
|  David| 40|    Lawyer|
|   Emma| 28| Scientist|
+-------+---+----------+

In [8]:
df.select('*').show()

+---+-------+---+------+----------+
| id|   name|age|gender|occupation|
+---+-------+---+------+----------+
|  1|  Alice| 25|     F|  Engineer|
|  2|    Bob| 30|     M|    Doctor|
|  3|Charlie| 35|     M|   Teacher|
|  4|  David| 40|     M|    Lawyer|
|  5|   Emma| 28|     F| Scientist|
+---+-------+---+------+----------+

In [12]:
df.select([col for col in df.columns]).show()

+---+-------+---+------+----------+
| id|   name|age|gender|occupation|
+---+-------+---+------+----------+
|  1|  Alice| 25|     F|  Engineer|
|  2|    Bob| 30|     M|    Doctor|
|  3|Charlie| 35|     M|   Teacher|
|  4|  David| 40|     M|    Lawyer|
|  5|   Emma| 28|     F| Scientist|
+---+-------+---+------+----------+

['id', 'name', 'age', 'gender', 'occupation']