<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Pyspark_sq_functions_transformation(Array_data_transformation).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x793c85693450>

In [3]:
data=[
    (1,'bala','male',['gcp','python'],[75,80]),
    (2,'kumar','male',['sql','pyspark'],[95,60]),
    (3,'balakumar','male',['plsql','postgressql'],[80,95])
]

schema=['id','name','gender','skills','knownPercentage']

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+---------+------+--------------------+---------------+
| id|     name|gender|              skills|knownPercentage|
+---+---------+------+--------------------+---------------+
|  1|     bala|  male|       [gcp, python]|       [75, 80]|
|  2|    kumar|  male|      [sql, pyspark]|       [95, 60]|
|  3|balakumar|  male|[plsql, postgressql]|       [80, 95]|
+---+---------+------+--------------------+---------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- knownPercentage: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [7]:
from pyspark.sql.functions import transform, upper,expr

df.select('id', \
          'name', \
          upper('gender').alias('gender'), \
          transform('skills',lambda x: upper(x)).alias('skills'), \
          transform('knownPercentage',lambda x: x/100).alias('knownFraction')).show()

+---+---------+------+--------------------+-------------+
| id|     name|gender|              skills|knownFraction|
+---+---------+------+--------------------+-------------+
|  1|     bala|  MALE|       [GCP, PYTHON]|  [0.75, 0.8]|
|  2|    kumar|  MALE|      [SQL, PYSPARK]|  [0.95, 0.6]|
|  3|balakumar|  MALE|[PLSQL, POSTGRESSQL]|  [0.8, 0.95]|
+---+---------+------+--------------------+-------------+

In [12]:
def arrayUpper(x):
  return upper(x)

def percentageToFraction(x):
  return x/100


df.select('id', \
          'name', \
          upper('gender').alias('gender'),
          transform('skills',arrayUpper).alias('skills'), \
          transform('knownPercentage',percentageToFraction).alias('knownfraction')).show()

+---+---------+------+--------------------+-------------+
| id|     name|gender|              skills|knownfraction|
+---+---------+------+--------------------+-------------+
|  1|     bala|  MALE|       [GCP, PYTHON]|  [0.75, 0.8]|
|  2|    kumar|  MALE|      [SQL, PYSPARK]|  [0.95, 0.6]|
|  3|balakumar|  MALE|[PLSQL, POSTGRESSQL]|  [0.8, 0.95]|
+---+---------+------+--------------------+-------------+