<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Filter_and_where_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x78bdc4246650>

In [2]:
data=[
    (1,'bala',500000),
    (2,'kumar',5000000),
    (3,'balakumar',2000000)
]

schema=['id','name','salary']

df = spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+---------+-------+
| id|     name| salary|
+---+---------+-------+
|  1|     bala| 500000|
|  2|    kumar|5000000|
|  3|balakumar|2000000|
+---+---------+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [11]:
df.filter((df.salary==2000000)|(df.salary==5000000)).show()

+---+---------+-------+
| id|     name| salary|
+---+---------+-------+
|  2|    kumar|5000000|
|  3|balakumar|2000000|
+---+---------+-------+

In [13]:
df.filter("salary=5000000").show()

+---+-----+-------+
| id| name| salary|
+---+-----+-------+
|  2|kumar|5000000|
+---+-----+-------+

In [14]:
df.where("name like '%bala%'").show()

+---+---------+-------+
| id|     name| salary|
+---+---------+-------+
|  1|     bala| 500000|
|  3|balakumar|2000000|
+---+---------+-------+

In [15]:
df.where(df.id==1).show()

+---+----+------+
| id|name|salary|
+---+----+------+
|  1|bala|500000|
+---+----+------+