<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Write_dataframe_into_Parquet_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark test') \
                  .master('local') \
                  .getOrCreate()

print(spark)

from google.colab import drive
drive.mount('/content/drive')

<pyspark.sql.session.SparkSession object at 0x78595857d390>
Mounted at /content/drive

In [3]:
df = spark.createDataFrame([(1,'bala'),(2,'kumar')],['id','name'])

df.show()
df.printSchema()

+---+-----+
| id| name|
+---+-----+
|  1| bala|
|  2|kumar|
+---+-----+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
df.write.parquet('/content/drive/My Drive/Colab Notebooks/Testfiles/Parquetfilewrite',mode='overwrite')

df1=spark.read.parquet('/content/drive/My Drive/Colab Notebooks/Testfiles/Parquetfilewrite')
df1.show()
df1.printSchema()

+---+-----+
| id| name|
+---+-----+
|  1| bala|
|  2|kumar|
+---+-----+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df1.write.format('parquet') \
         .mode('overwrite') \
         .save('/content/drive/My Drive/Colab Notebooks/Testfiles/Parquet')

df2=spark.read.format('parquet') \
              .load('/content/drive/My Drive/Colab Notebooks/Testfiles/Parquet')

df2.show()
df2.printSchema()
df2.count()

+---+-----+
| id| name|
+---+-----+
|  1| bala|
|  2|kumar|
+---+-----+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

2