<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Array_type_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7a56d856e310>

In [2]:
data=[
    (1,'bala',[25000,35000]),
    (2,'kumar',[26000,34000])
]

schema=['id','name','salary']

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+-----+--------------+
| id| name|        salary|
+---+-----+--------------+
|  1| bala|[25000, 35000]|
|  2|kumar|[26000, 34000]|
+---+-----+--------------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [7]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DoubleType,ArrayType

schema1=StructType([
    StructField('id',IntegerType(),True),
    StructField('name',StringType(),True),
    StructField('salary',ArrayType(IntegerType()),True)
])

df1=spark.createDataFrame(data,schema1)
df1.show()
df1.printSchema()

ImportError: cannot import name 'Array' from 'pyspark.sql.types' (/usr/local/lib/python3.11/dist-packages/pyspark/sql/types.py)

In [5]:
df2=df1.withColumn('baseSalary',df1.salary[0]) \
   .withColumn('variableSalary',df1.salary[1])

df2.show()
df2.printSchema()

+---+-----+--------------+----------+--------------+
| id| name|        salary|baseSalary|variableSalary|
+---+-----+--------------+----------+--------------+
|  1| bala|[25000, 35000]|     25000|         35000|
|  2|kumar|[26000, 34000]|     26000|         34000|
+---+-----+--------------+----------+--------------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: array (nullable = true)
 |    |-- element: integer (containsNull = true)
 |-- baseSalary: integer (nullable = true)
 |-- variableSalary: integer (nullable = true)

In [6]:
df3=df2.drop('salary')
df3.show()
df3.printSchema()

+---+-----+----------+--------------+
| id| name|baseSalary|variableSalary|
+---+-----+----------+--------------+
|  1| bala|     25000|         35000|
|  2|kumar|     26000|         34000|
+---+-----+----------+--------------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- baseSalary: integer (nullable = true)
 |-- variableSalary: integer (nullable = true)

In [8]:
from pyspark.sql.functions import array,col

df4=df3.withColumn('salary',array(col('baseSalary'),col('variableSalary')))

df4.show()
df4.printSchema()

+---+-----+----------+--------------+--------------+
| id| name|baseSalary|variableSalary|        salary|
+---+-----+----------+--------------+--------------+
|  1| bala|     25000|         35000|[25000, 35000]|
|  2|kumar|     26000|         34000|[26000, 34000]|
+---+-----+----------+--------------+--------------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- baseSalary: integer (nullable = true)
 |-- variableSalary: integer (nullable = true)
 |-- salary: array (nullable = false)
 |    |-- element: integer (containsNull = true)