<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Current_date%2Cdate_format_and_to_date_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x790063c968d0>

In [2]:
df = spark.range(0,10)
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [8]:
from pyspark.sql.functions import current_date,date_format,to_date

df=df.withColumn('id',df.id.cast('int'))
df.show()
df.printSchema()
df1 = df.withColumn('current_date',current_date()+df.id)
df1.show()
df1.printSchema()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

root
 |-- id: integer (nullable = false)

+---+------------+
| id|current_date|
+---+------------+
|  0|  2025-03-07|
|  1|  2025-03-08|
|  2|  2025-03-09|
|  3|  2025-03-10|
|  4|  2025-03-11|
|  5|  2025-03-12|
|  6|  2025-03-13|
|  7|  2025-03-14|
|  8|  2025-03-15|
|  9|  2025-03-16|
+---+------------+

root
 |-- id: integer (nullable = false)
 |-- current_date: date (nullable = false)

In [9]:
df2=df1.withColumn('format_Date',date_format('current_date','dd-MMM-yyyy'))
df2.show()
df2.printSchema()

+---+------------+-----------+
| id|current_date|format_Date|
+---+------------+-----------+
|  0|  2025-03-07|07-Mar-2025|
|  1|  2025-03-08|08-Mar-2025|
|  2|  2025-03-09|09-Mar-2025|
|  3|  2025-03-10|10-Mar-2025|
|  4|  2025-03-11|11-Mar-2025|
|  5|  2025-03-12|12-Mar-2025|
|  6|  2025-03-13|13-Mar-2025|
|  7|  2025-03-14|14-Mar-2025|
|  8|  2025-03-15|15-Mar-2025|
|  9|  2025-03-16|16-Mar-2025|
+---+------------+-----------+

root
 |-- id: integer (nullable = false)
 |-- current_date: date (nullable = false)
 |-- format_Date: string (nullable = false)

In [10]:
df3=df2.withColumn('to_date',to_date('format_date','dd-MMM-yyyy'))
df3.show()
df3.printSchema()

+---+------------+-----------+----------+
| id|current_date|format_Date|   to_date|
+---+------------+-----------+----------+
|  0|  2025-03-07|07-Mar-2025|2025-03-07|
|  1|  2025-03-08|08-Mar-2025|2025-03-08|
|  2|  2025-03-09|09-Mar-2025|2025-03-09|
|  3|  2025-03-10|10-Mar-2025|2025-03-10|
|  4|  2025-03-11|11-Mar-2025|2025-03-11|
|  5|  2025-03-12|12-Mar-2025|2025-03-12|
|  6|  2025-03-13|13-Mar-2025|2025-03-13|
|  7|  2025-03-14|14-Mar-2025|2025-03-14|
|  8|  2025-03-15|15-Mar-2025|2025-03-15|
|  9|  2025-03-16|16-Mar-2025|2025-03-16|
+---+------------+-----------+----------+

root
 |-- id: integer (nullable = false)
 |-- current_date: date (nullable = false)
 |-- format_Date: string (nullable = false)
 |-- to_date: date (nullable = true)