<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Transform_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7de9ca19fe90>

In [2]:
data=[
    (1,'bala','male',25000),
    (2,'kumar','male',24000),
    (3,'balakumar','male',160000)
]

schema=['id','name','gender','salary']

df=spark.createDataFrame(data,schema)
df.show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  1|     bala|  male| 25000|
|  2|    kumar|  male| 24000|
|  3|balakumar|  male|160000|
+---+---------+------+------+

In [3]:
from pyspark.sql.functions import upper,lower

df.withColumn('name',upper('name')).show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  1|     BALA|  male| 25000|
|  2|    KUMAR|  male| 24000|
|  3|BALAKUMAR|  male|160000|
+---+---------+------+------+

In [5]:
def convertToUpper(df):
  return df.withColumn('gender',upper('gender'))

df.transform(convertToUpper).show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  1|     bala|  MALE| 25000|
|  2|    kumar|  MALE| 24000|
|  3|balakumar|  MALE|160000|
+---+---------+------+------+

In [8]:
from pyspark.sql.functions import col

def doubleSalary(df):
  return df.withColumn('salary',col('salary')*2)

df.transform(doubleSalary).show()

+---+---------+------+------+
| id|     name|gender|salary|
+---+---------+------+------+
|  1|     bala|  male| 50000|
|  2|    kumar|  male| 48000|
|  3|balakumar|  male|320000|
+---+---------+------+------+