<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Group_by_Agg_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7c18125aea90>

In [3]:
data=[
    (101, "Alice", "HR", 60000, "2020-01-15"),
    (102, "Bob", "Finance", 75000, "2019-03-25"),
    (103, "Charlie", "IT", 90000, "2018-07-10"),
    (104, "David", "Marketing", 50000, "2021-06-20"),
    (105, "Emma", "HR", 62000, "2017-09-15"),
    (106, "Frank", "Finance", 80000, "2022-02-10"),
    (107, "Grace", "IT", 95000, "2016-11-30"),
    (108, "Harry", "Marketing", 48000, "2020-12-05"),
    (109, "Ivy", "HR", 58000, "2019-08-01"),
    (110, "Jack", "Finance", 82000, "2015-05-21"),
    (111, "Kathy", "IT", 88000, "2018-10-10"),
    (112, "Leo", "Marketing", 52000, "2021-04-11"),
    (113, "Mona", "HR", 61000, "2020-06-30"),
    (114, "Nina", "Finance", 78000, "2017-12-01"),
    (115, "Oscar", "IT", 92000, "2019-01-05"),
    (116, "Peter", "Marketing", 51000, "2016-09-22"),
    (117, "Quincy", "HR", 59000, "2021-07-18"),
    (118, "Rachel", "Finance", 77000, "2023-01-12"),
    (119, "Steve", "IT", 91000, "2015-11-05"),
    (120, "Tom", "Marketing", 53000, "2019-02-28")
]

schema=['employeeId','employeeName','department','salary','hireDate']

df=spark.createDataFrame(data,schema)
df.show()

+----------+------------+----------+------+----------+
|employeeId|employeeName|department|salary|  hireDate|
+----------+------------+----------+------+----------+
|       101|       Alice|        HR| 60000|2020-01-15|
|       102|         Bob|   Finance| 75000|2019-03-25|
|       103|     Charlie|        IT| 90000|2018-07-10|
|       104|       David| Marketing| 50000|2021-06-20|
|       105|        Emma|        HR| 62000|2017-09-15|
|       106|       Frank|   Finance| 80000|2022-02-10|
|       107|       Grace|        IT| 95000|2016-11-30|
|       108|       Harry| Marketing| 48000|2020-12-05|
|       109|         Ivy|        HR| 58000|2019-08-01|
|       110|        Jack|   Finance| 82000|2015-05-21|
|       111|       Kathy|        IT| 88000|2018-10-10|
|       112|         Leo| Marketing| 52000|2021-04-11|
|       113|        Mona|        HR| 61000|2020-06-30|
|       114|        Nina|   Finance| 78000|2017-12-01|
|       115|       Oscar|        IT| 92000|2019-01-05|
|       116|       Peter| Marketing| 51000|2016-09-22|
|       117|      Quincy|        HR| 59000|2021-07-18|
|       118|      Rachel|   Finance| 77000|2023-01-12|
|       119|       Steve|        IT| 91000|2015-11-05|
|       120|         Tom| Marketing| 53000|2019-02-28|
+----------+------------+----------+------+----------+

In [9]:
from pyspark.sql.functions import avg,count,min,max,sum

df.groupBy('department') \
  .agg(sum('salary').alias('totalDepSalary'),
       min('salary').alias('minDepSalary'),
       max('salary').alias('maxDepSalary'),
       avg('salary').alias('avgDepSalary'),
       count('*').alias('empCount')) \
  .show()

+----------+--------------+------------+------------+------------+--------+
|department|totalDepSalary|minDepSalary|maxDepSalary|avgDepSalary|empCount|
+----------+--------------+------------+------------+------------+--------+
|        HR|        300000|       58000|       62000|     60000.0|       5|
|   Finance|        392000|       75000|       82000|     78400.0|       5|
| Marketing|        254000|       48000|       53000|     50800.0|       5|
|        IT|        456000|       88000|       95000|     91200.0|       5|
+----------+--------------+------------+------------+------------+--------+