<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_UnionByName_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x781a9f7a6fd0>

In [11]:
data1=[
    (1,'bala',2000),
    (2,'kumar',3000)
]

schema1=['id','name','salary']

data2=[
    (1,'balakumar','male'),
    (2,'kumarbala','male')
]

schema2=['id','name','gender']

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)

df1.unionByName(df2,allowMissingColumns=True).show()

+---+---------+------+------+
| id|     name|salary|gender|
+---+---------+------+------+
|  1|     bala|  2000|  NULL|
|  2|    kumar|  3000|  NULL|
|  1|balakumar|  NULL|  male|
|  2|kumarbala|  NULL|  male|
+---+---------+------+------+