<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Fill_and_Fillna_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7c7e2c3e0dd0>

In [3]:
data=[
    (1,'bala','male',None,None),
    (2,'kumar','male',25,20000),
    (3,'balakumar',None,26,30000)
]

schema=['id','name','gender','age','salary']

df = spark.createDataFrame(data,schema)

df.show()
df.printSchema()

+---+---------+------+----+------+
| id|     name|gender| age|salary|
+---+---------+------+----+------+
|  1|     bala|  male|NULL|  NULL|
|  2|    kumar|  male|  25| 20000|
|  3|balakumar|  NULL|  26| 30000|
+---+---------+------+----+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: long (nullable = true)

In [7]:
df.na.fill('male').show()
df.fillna(25,'age').show()
df.fillna(30000,'salary').show()

+---+---------+------+----+------+
| id|     name|gender| age|salary|
+---+---------+------+----+------+
|  1|     bala|  male|NULL|  NULL|
|  2|    kumar|  male|  25| 20000|
|  3|balakumar|  male|  26| 30000|
+---+---------+------+----+------+

+---+---------+------+---+------+
| id|     name|gender|age|salary|
+---+---------+------+---+------+
|  1|     bala|  male| 25|  NULL|
|  2|    kumar|  male| 25| 20000|
|  3|balakumar|  NULL| 26| 30000|
+---+---------+------+---+------+

+---+---------+------+----+------+
| id|     name|gender| age|salary|
+---+---------+------+----+------+
|  1|     bala|  male|NULL| 30000|
|  2|    kumar|  male|  25| 20000|
|  3|balakumar|  NULL|  26| 30000|
+---+---------+------+----+------+

In [10]:
df.fillna('male','gender') \
  .fillna(25,'age') \
  .fillna(20000,'salary').show()

+---+---------+------+---+------+
| id|     name|gender|age|salary|
+---+---------+------+---+------+
|  1|     bala|  male| 25| 20000|
|  2|    kumar|  male| 25| 20000|
|  3|balakumar|  male| 26| 30000|
+---+---------+------+---+------+

In [11]:
df.fillna({'age':25,'salary':300000,'gender':'male'}).show()

+---+---------+------+---+------+
| id|     name|gender|age|salary|
+---+---------+------+---+------+
|  1|     bala|  male| 25|300000|
|  2|    kumar|  male| 25| 20000|
|  3|balakumar|  male| 26| 30000|
+---+---------+------+---+------+

In [12]:
df.na.drop().show()

+---+-----+------+---+------+
| id| name|gender|age|salary|
+---+-----+------+---+------+
|  2|kumar|  male| 25| 20000|
+---+-----+------+---+------+

In [19]:
df.na.replace(20000,25*1.3,'salary').show()

+---+---------+------+----+------+
| id|     name|gender| age|salary|
+---+---------+------+----+------+
|  1|     bala|  male|NULL|  NULL|
|  2|    kumar|  male|  25|    32|
|  3|balakumar|  NULL|  26| 30000|
+---+---------+------+----+------+