<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Join_function(inner%2Cleft%2Cright%2Cfull).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7b755b7b6690>

In [4]:
data1=[
    (1,'bala','male'),
    (2,'kumar','male'),
    (3,'balakumar','male')
]

schema1=['id','name','gender']

data2=[
    (1,'kumar',2000),
    (2,'bala',3000),
    (4,'kumarbala',5000)
]

schema2=['id','name','salary']

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)

df1.show()
df2.show()

+---+---------+------+
| id|     name|gender|
+---+---------+------+
|  1|     bala|  male|
|  2|    kumar|  male|
|  3|balakumar|  male|
+---+---------+------+

+---+---------+------+
| id|     name|salary|
+---+---------+------+
|  1|    kumar|  2000|
|  2|     bala|  3000|
|  4|kumarbala|  5000|
+---+---------+------+

In [9]:
df1.join(df2,df1.id==df2.id,'inner').show()
df1.join(df2,df1.id==df2.id,'left').show()
df1.join(df2,df1.id==df2.id,'right').show()
df1.join(df2,df1.id==df2.id,'full').show()

+---+-----+------+---+-----+------+
| id| name|gender| id| name|salary|
+---+-----+------+---+-----+------+
|  1| bala|  male|  1|kumar|  2000|
|  2|kumar|  male|  2| bala|  3000|
+---+-----+------+---+-----+------+

+---+---------+------+----+-----+------+
| id|     name|gender|  id| name|salary|
+---+---------+------+----+-----+------+
|  1|     bala|  male|   1|kumar|  2000|
|  3|balakumar|  male|NULL| NULL|  NULL|
|  2|    kumar|  male|   2| bala|  3000|
+---+---------+------+----+-----+------+

+----+-----+------+---+---------+------+
|  id| name|gender| id|     name|salary|
+----+-----+------+---+---------+------+
|   1| bala|  male|  1|    kumar|  2000|
|   2|kumar|  male|  2|     bala|  3000|
|NULL| NULL|  NULL|  4|kumarbala|  5000|
+----+-----+------+---+---------+------+

+----+---------+------+----+---------+------+
|  id|     name|gender|  id|     name|salary|
+----+---------+------+----+---------+------+
|   1|     bala|  male|   1|    kumar|  2000|
|   2|    kumar|  male|   2|     bala|  3000|
|   3|balakumar|  male|NULL|     NULL|  NULL|
|NULL|     NULL|  NULL|   4|kumarbala|  5000|
+----+---------+------+----+---------+------+

In [17]:
from pyspark.sql.functions import concat_ws

df1.join(df2,df1.id==df2.id,'full') \
   .select(df1.id,concat_ws(' ',df1.name,df2.name).alias('fullname'),df1.gender,df2.salary).show()

+----+----------+------+------+
|  id|  fullname|gender|salary|
+----+----------+------+------+
|   1|bala kumar|  male|  2000|
|   2|kumar bala|  male|  3000|
|   3| balakumar|  male|  NULL|
|NULL| kumarbala|  NULL|  5000|
+----+----------+------+------+