<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Collect_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspar') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7c8c6c202a50>

In [2]:
data=[
    (1,'bala','male'),
    (2,'kumar','male'),
    (3,'balakumar','male')
]

schema=['id','name','gender']

df=spark.createDataFrame(data,schema)
df.show()

+---+---------+------+
| id|     name|gender|
+---+---------+------+
|  1|     bala|  male|
|  2|    kumar|  male|
|  3|balakumar|  male|
+---+---------+------+

In [31]:
listRows=df.collect()

for i in listRows:
    print(i)

print(listRows[1])

Row(id=1, name='bala', gender='male')
Row(id=2, name='kumar', gender='male')
Row(id=3, name='balakumar', gender='male')
Row(id=2, name='kumar', gender='male')

In [32]:
print(listRows[1][0:3])

(2, 'kumar', 'male')