<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Read_JSON_file_into_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()


df = spark.read.json('/content/drive/My Drive/Colab Notebooks/Testfiles/JSON/emp1.json',multiLine=False)
df.show(10)
df.printSchema()

+---+----------+---+-------+------+
|age|department| id|   name|salary|
+---+----------+---+-------+------+
| 30|        HR|  1|  Alice| 50000|
| 25|        IT|  2|    Bob| 60000|
| 35|   Finance|  3|Charlie| 70000|
| 28| Marketing|  4|  David| 55000|
| 32|     Sales|  5|    Eve| 65000|
+---+----------+---+-------+------+

root
 |-- age: long (nullable = true)
 |-- department: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [9]:
df1=spark.read.json(['/content/drive/My Drive/Colab Notebooks/Testfiles/JSON/json1/emp1.json','/content/drive/My Drive/Colab Notebooks/Testfiles/JSON/json2/emp2.json'],
                    multiLine=False)

df1.show()

df1.printSchema()

+---+----------+---+-------+------+
|age|department| id|   name|salary|
+---+----------+---+-------+------+
| 30|        HR|  1|  Alice| 50000|
| 25|        IT|  2|    Bob| 60000|
| 35|   Finance|  3|Charlie| 70000|
| 28| Marketing|  4|  David| 55000|
| 32|     Sales|  5|    Eve| 65000|
| 40|Operations|  6|  Frank| 72000|
| 29|     Legal|  7|  Grace| 58000|
| 33|        IT|  8|   Hank| 67000|
| 27|        HR|  9|    Ivy| 52000|
| 31|   Finance| 10|   Jack| 69000|
+---+----------+---+-------+------+

root
 |-- age: long (nullable = true)
 |-- department: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [13]:
from pyspark.sql.functions import  *

df1.select('age','department','salary').groupBy('department').agg(avg('age').alias('avg_age'),avg('salary').alias('avg_salary')).orderBy('avg_age').show()

+----------+-------+----------+
|department|avg_age|avg_salary|
+----------+-------+----------+
| Marketing|   28.0|   55000.0|
|        HR|   28.5|   51000.0|
|     Legal|   29.0|   58000.0|
|        IT|   29.0|   63500.0|
|     Sales|   32.0|   65000.0|
|   Finance|   33.0|   69500.0|
|Operations|   40.0|   72000.0|
+----------+-------+----------+

In [14]:
df2=spark.read.json('/content/drive/My Drive/Colab Notebooks/Testfiles/JSON/json1/*.json')

df2.show()
df2.printSchema()

+---+----------+---+-------+------+
|age|department| id|   name|salary|
+---+----------+---+-------+------+
| 30|        HR|  1|  Alice| 50000|
| 25|        IT|  2|    Bob| 60000|
| 35|   Finance|  3|Charlie| 70000|
| 28| Marketing|  4|  David| 55000|
| 32|     Sales|  5|    Eve| 65000|
| 40|Operations|  6|  Frank| 72000|
| 29|     Legal|  7|  Grace| 58000|
| 33|        IT|  8|   Hank| 67000|
| 27|        HR|  9|    Ivy| 52000|
| 31|   Finance| 10|   Jack| 69000|
+---+----------+---+-------+------+

root
 |-- age: long (nullable = true)
 |-- department: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [17]:
df2.select('department','salary').groupBy('department').agg(max('salary').alias('Max_salary')).orderBy('department').show()

+----------+----------+
|department|Max_salary|
+----------+----------+
|   Finance|     70000|
|        HR|     52000|
|        IT|     67000|
|     Legal|     58000|
| Marketing|     55000|
|Operations|     72000|
|     Sales|     65000|
+----------+----------+

In [18]:
df3=spark.read.format('json') \
              .load('/content/drive/My Drive/Colab Notebooks/Testfiles/JSON/json1/*.json')

df3.show()

+---+----------+---+-------+------+
|age|department| id|   name|salary|
+---+----------+---+-------+------+
| 30|        HR|  1|  Alice| 50000|
| 25|        IT|  2|    Bob| 60000|
| 35|   Finance|  3|Charlie| 70000|
| 28| Marketing|  4|  David| 55000|
| 32|     Sales|  5|    Eve| 65000|
| 40|Operations|  6|  Frank| 72000|
| 29|     Legal|  7|  Grace| 58000|
| 33|        IT|  8|   Hank| 67000|
| 27|        HR|  9|    Ivy| 52000|
| 31|   Finance| 10|   Jack| 69000|
+---+----------+---+-------+------+

In [24]:
from pyspark.sql.types import *

schema=StructType(
    [StructField('age',IntegerType(),False),
     StructField('department',StringType(),True),
     StructField('id',IntegerType(),False),
     StructField('name',StringType(),False),
     StructField('salary',IntegerType(),False)
     ]
)


df3=spark.read.json('/content/drive/My Drive/Colab Notebooks/Testfiles/JSON/empmulti.json',multiLine=True,schema=schema)

df3.show()

df3.printSchema()

+---+----------+---+-------+------+
|age|department| id|   name|salary|
+---+----------+---+-------+------+
| 30|        HR|  1|  Alice| 50000|
| 25|        IT|  2|    Bob| 60000|
| 35|   Finance|  3|Charlie| 70000|
| 28| Marketing|  4|  David| 55000|
| 32|     Sales|  5|    Eve| 65000|
| 40|Operations|  6|  Frank| 72000|
| 29|     Legal|  7|  Grace| 58000|
| 33|        IT|  8|   Hank| 67000|
| 27|        HR|  9|    Ivy| 52000|
| 31|   Finance| 10|   Jack| 69000|
+---+----------+---+-------+------+

root
 |-- age: integer (nullable = true)
 |-- department: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [32]:
from pyspark.sql.functions import *

avg_salary=df3.agg(avg('salary')).first()[0]

print(avg_salary)

df3.filter(df3.salary>=avg_salary).show()

61800.0
+---+----------+---+-------+------+
|age|department| id|   name|salary|
+---+----------+---+-------+------+
| 35|   Finance|  3|Charlie| 70000|
| 32|     Sales|  5|    Eve| 65000|
| 40|Operations|  6|  Frank| 72000|
| 33|        IT|  8|   Hank| 67000|
| 31|   Finance| 10|   Jack| 69000|
+---+----------+---+-------+------+