<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_When_and_Otherwise_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7cd8e857a110>

In [2]:
data=[
    (101, "Alice", "Google", "Microsoft", "Software Engineer", "Senior Engineer", 5, "2024-01-15", 120000, 150000),
    (102, "Bob", "Amazon", "Meta", "Data Scientist", "Lead Data Scientist", 7, "2023-11-30", 140000, 180000),
    (103, "Charlie", "Tesla", "Apple", "Mechanical Engineer", "Product Manager", 6, "2024-02-10", 110000, 140000),
    (104, "David", "IBM", "Google", "Cloud Engineer", "Senior Cloud Engineer", 4, "2023-12-20", 100000, 135000),
    (105, "Emma", "Facebook", "Netflix", "Marketing Manager", "Director of Marketing", 8, "2023-10-25", 130000, 175000)
]

schema=['empid','name','previous_company','new_company','previous_role','new_role','experiance','switch_Date','previous_salary','new_salary']


df=spark.createDataFrame(data,schema)

df.show()
df.printSchema()

+-----+-------+----------------+-----------+-------------------+--------------------+----------+-----------+---------------+----------+
|empid|   name|previous_company|new_company|      previous_role|            new_role|experiance|switch_Date|previous_salary|new_salary|
+-----+-------+----------------+-----------+-------------------+--------------------+----------+-----------+---------------+----------+
|  101|  Alice|          Google|  Microsoft|  Software Engineer|     Senior Engineer|         5| 2024-01-15|         120000|    150000|
|  102|    Bob|          Amazon|       Meta|     Data Scientist| Lead Data Scientist|         7| 2023-11-30|         140000|    180000|
|  103|Charlie|           Tesla|      Apple|Mechanical Engineer|     Product Manager|         6| 2024-02-10|         110000|    140000|
|  104|  David|             IBM|     Google|     Cloud Engineer|Senior Cloud Engi...|         4| 2023-12-20|         100000|    135000|
|  105|   Emma|        Facebook|    Netflix|  Marketing Manager|Director of Marke...|         8| 2023-10-25|         130000|    175000|
+-----+-------+----------------+-----------+-------------------+--------------------+----------+-----------+---------------+----------+

root
 |-- empid: long (nullable = true)
 |-- name: string (nullable = true)
 |-- previous_company: string (nullable = true)
 |-- new_company: string (nullable = true)
 |-- previous_role: string (nullable = true)
 |-- new_role: string (nullable = true)
 |-- experiance: long (nullable = true)
 |-- switch_Date: string (nullable = true)
 |-- previous_salary: long (nullable = true)
 |-- new_salary: long (nullable = true)

In [15]:
from pyspark.sql.functions import when

df.select(df.name,\
          when((df.new_salary-df.previous_salary)*100/df.previous_salary > 30,'Good_hike') \
          .when(((df.new_salary-df.previous_salary)*100/df.previous_salary).between(0,27) ,'bad_hike') \
          .otherwise('Average_hike') \
          .alias('hike_status') \
          ,((df.new_salary-df.previous_salary)*100/df.previous_salary).alias('hike_percentage')
).show()

+-------+------------+------------------+
|   name| hike_status|   hike_percentage|
+-------+------------+------------------+
|  Alice|    bad_hike|              25.0|
|    Bob|Average_hike|28.571428571428573|
|Charlie|Average_hike|27.272727272727273|
|  David|   Good_hike|              35.0|
|   Emma|   Good_hike| 34.61538461538461|
+-------+------------+------------------+