<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark-Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession

spark=SparkSession.builder \
   .appName('Python') \
   .master('local') \
   .getOrCreate()

data=[{"id":1,"name":'bala'},{"id":2,"name":'kumar'}]

df=spark.createDataFrame(data)

df.show()

+---+-----+
| id| name|
+---+-----+
|  1| bala|
|  2|kumar|
+---+-----+

In [4]:
df.count()

2

In [5]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
data=[('1','bala'),(2,'kumar'),('3','arun'),('4','karthi')]

df=spark.createDataFrame(data,['id','name'])

df.show()
df.printSchema()

+---+------+
| id|  name|
+---+------+
|  1|  bala|
|  2| kumar|
|  3|  arun|
|  4|karthi|
+---+------+

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

In [13]:
df1=df.drop('id')

In [14]:
df1.show()

+------+
|  name|
+------+
|  bala|
| kumar|
|  arun|
|karthi|
+------+

In [19]:
data=[[1,2],[2,3]]
columns=['name','number']

df=spark.createDataFrame(data,columns)
df.show(2)
df.printSchema()

+----+------+
|name|number|
+----+------+
|   1|     2|
|   2|     3|
+----+------+

root
 |-- name: long (nullable = true)
 |-- number: long (nullable = true)

In [25]:
from pyspark.sql.types import *

schema=StructType([StructField(name='id',dataType=IntegerType()),
                   StructField(name='name',dataType=StringType())])

data=[(1,'bala'),(2,'kumar')]

df=spark.createDataFrame(data,schema)
df.show()
df.printSchema()

+---+-----+
| id| name|
+---+-----+
|  1| bala|
|  2|kumar|
+---+-----+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [30]:
df.select('id','name').show()

+---+-----+
| id| name|
+---+-----+
|  1| bala|
|  2|kumar|
+---+-----+

In [35]:
df2=df.withColumnRenamed('id','emp_id')

df2.show()

+------+-----+
|emp_id| name|
+------+-----+
|     1| bala|
|     2|kumar|
+------+-----+

In [45]:
df3=df.filter(df.name=='bala')
df3.show()

+---+----+
| id|name|
+---+----+
|  1|bala|
+---+----+

In [46]:
df2.show()

+------+-----+
|emp_id| name|
+------+-----+
|     1| bala|
|     2|kumar|
+------+-----+

In [49]:
df2.groupBy('emp_id','name').count().show()

+------+-----+-----+
|emp_id| name|count|
+------+-----+-----+
|     1| bala|    1|
|     2|kumar|    1|
+------+-----+-----+

In [52]:
df2.where(df2.emp_id > 1).show()

+------+-----+
|emp_id| name|
+------+-----+
|     2|kumar|
+------+-----+