<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Distinct_and_DropDuplicates_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x78ff9476af10>

In [3]:
data=[
    (1,'bala','male',25),
    (1,'bala','male',25),
    (2,'kumar','male',25),
    (3,'balakumar','male',25),
    (3,'balakumar','male',25),
    (4,'anu','female',22),
    (4,'anu','female',22),
    (5,'narmi','female',23)
]

schema=['id','name','gender','age']

df=spark.createDataFrame(data,schema)

df.show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  1|     bala|  male| 25|
|  1|     bala|  male| 25|
|  2|    kumar|  male| 25|
|  3|balakumar|  male| 25|
|  3|balakumar|  male| 25|
|  4|      anu|female| 22|
|  4|      anu|female| 22|
|  5|    narmi|female| 23|
+---+---------+------+---+

In [7]:
df.distinct().show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  3|balakumar|  male| 25|
|  2|    kumar|  male| 25|
|  5|    narmi|female| 23|
|  1|     bala|  male| 25|
|  4|      anu|female| 22|
+---+---------+------+---+

In [8]:
df.dropDuplicates().show()

+---+---------+------+---+
| id|     name|gender|age|
+---+---------+------+---+
|  3|balakumar|  male| 25|
|  2|    kumar|  male| 25|
|  5|    narmi|female| 23|
|  1|     bala|  male| 25|
|  4|      anu|female| 22|
+---+---------+------+---+

In [16]:
df.dropDuplicates(['age','gender']).show()

+---+-----+------+---+
| id| name|gender|age|
+---+-----+------+---+
|  4|  anu|female| 22|
|  5|narmi|female| 23|
|  1| bala|  male| 25|
+---+-----+------+---+