<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Alias%2Casc%2Cdesc%2Corderby%2Ccast_and_like_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7844e478a550>

In [2]:
data=[
    (101, "TCS", "Data Engineer", "Bangalore", 10),
    (102, "Infosys", "Software Developer", "Hyderabad", 8),
    (103, "Amazon", "ML Engineer", "Delhi", 25),
    (104, "Google", "Cloud Architect", "Mumbai", 40),
    (105, "Wipro", "Business Analyst", "Chennai", 12)
]

schema=['id','company','role','loaction','salary']

df=spark.createDataFrame(data,schema)

df.show()
df.printSchema()

+---+-------+------------------+---------+------+
| id|company|              role| loaction|salary|
+---+-------+------------------+---------+------+
|101|    TCS|     Data Engineer|Bangalore|    10|
|102|Infosys|Software Developer|Hyderabad|     8|
|103| Amazon|       ML Engineer|    Delhi|    25|
|104| Google|   Cloud Architect|   Mumbai|    40|
|105|  Wipro|  Business Analyst|  Chennai|    12|
+---+-------+------------------+---------+------+

root
 |-- id: long (nullable = true)
 |-- company: string (nullable = true)
 |-- role: string (nullable = true)
 |-- loaction: string (nullable = true)
 |-- salary: long (nullable = true)

In [12]:
df1=df.select(df.id.alias('compand_id'),\
          df.company.alias('company_name'),\
          df.role.alias('roles'), \
          df.loaction.alias('locations'), \
          df.salary.alias('salaries') \
          )

df1.show()

+----------+------------+------------------+---------+--------+
|compand_id|company_name|             roles|locations|salaries|
+----------+------------+------------------+---------+--------+
|       101|         TCS|     Data Engineer|Bangalore|      10|
|       102|     Infosys|Software Developer|Hyderabad|       8|
|       103|      Amazon|       ML Engineer|    Delhi|      25|
|       104|      Google|   Cloud Architect|   Mumbai|      40|
|       105|       Wipro|  Business Analyst|  Chennai|      12|
+----------+------------+------------------+---------+--------+

In [14]:
df1.sort(df1.salaries.asc()).show()

+----------+------------+------------------+---------+--------+
|compand_id|company_name|             roles|locations|salaries|
+----------+------------+------------------+---------+--------+
|       102|     Infosys|Software Developer|Hyderabad|       8|
|       101|         TCS|     Data Engineer|Bangalore|      10|
|       105|       Wipro|  Business Analyst|  Chennai|      12|
|       103|      Amazon|       ML Engineer|    Delhi|      25|
|       104|      Google|   Cloud Architect|   Mumbai|      40|
+----------+------------+------------------+---------+--------+

In [15]:
df1.sort(df1.salaries.desc()).show()

+----------+------------+------------------+---------+--------+
|compand_id|company_name|             roles|locations|salaries|
+----------+------------+------------------+---------+--------+
|       104|      Google|   Cloud Architect|   Mumbai|      40|
|       103|      Amazon|       ML Engineer|    Delhi|      25|
|       105|       Wipro|  Business Analyst|  Chennai|      12|
|       101|         TCS|     Data Engineer|Bangalore|      10|
|       102|     Infosys|Software Developer|Hyderabad|       8|
+----------+------------+------------------+---------+--------+

In [17]:
df1.orderBy(df1.salaries.desc()).show()

+----------+------------+------------------+---------+--------+
|compand_id|company_name|             roles|locations|salaries|
+----------+------------+------------------+---------+--------+
|       104|      Google|   Cloud Architect|   Mumbai|      40|
|       103|      Amazon|       ML Engineer|    Delhi|      25|
|       105|       Wipro|  Business Analyst|  Chennai|      12|
|       101|         TCS|     Data Engineer|Bangalore|      10|
|       102|     Infosys|Software Developer|Hyderabad|       8|
+----------+------------+------------------+---------+--------+

In [22]:
df1.printSchema()

df2=df1.select(df1.compand_id.cast('int'),df1.company_name,df1.roles,df1.locations,df1.salaries.cast('int'))

df2.show()
df2.printSchema()

root
 |-- compand_id: long (nullable = true)
 |-- company_name: string (nullable = true)
 |-- roles: string (nullable = true)
 |-- locations: string (nullable = true)
 |-- salaries: long (nullable = true)

+----------+------------+------------------+---------+--------+
|compand_id|company_name|             roles|locations|salaries|
+----------+------------+------------------+---------+--------+
|       101|         TCS|     Data Engineer|Bangalore|      10|
|       102|     Infosys|Software Developer|Hyderabad|       8|
|       103|      Amazon|       ML Engineer|    Delhi|      25|
|       104|      Google|   Cloud Architect|   Mumbai|      40|
|       105|       Wipro|  Business Analyst|  Chennai|      12|
+----------+------------+------------------+---------+--------+

root
 |-- compand_id: integer (nullable = true)
 |-- company_name: string (nullable = true)
 |-- roles: string (nullable = true)
 |-- locations: string (nullable = true)
 |-- salaries: integer (nullable = true)

In [24]:
df2.filter(df2.salaries>=10).show()

+----------+------------+----------------+---------+--------+
|compand_id|company_name|           roles|locations|salaries|
+----------+------------+----------------+---------+--------+
|       101|         TCS|   Data Engineer|Bangalore|      10|
|       103|      Amazon|     ML Engineer|    Delhi|      25|
|       104|      Google| Cloud Architect|   Mumbai|      40|
|       105|       Wipro|Business Analyst|  Chennai|      12|
+----------+------------+----------------+---------+--------+

In [25]:
df2.filter(df2.company_name.like('%o%')).show()

+----------+------------+------------------+---------+--------+
|compand_id|company_name|             roles|locations|salaries|
+----------+------------+------------------+---------+--------+
|       102|     Infosys|Software Developer|Hyderabad|       8|
|       103|      Amazon|       ML Engineer|    Delhi|      25|
|       104|      Google|   Cloud Architect|   Mumbai|      40|
|       105|       Wipro|  Business Analyst|  Chennai|      12|
+----------+------------+------------------+---------+--------+

In [26]:
df2.filter(df2.roles.contains('Engineer')).show()

+----------+------------+-------------+---------+--------+
|compand_id|company_name|        roles|locations|salaries|
+----------+------------+-------------+---------+--------+
|       101|         TCS|Data Engineer|Bangalore|      10|
|       103|      Amazon|  ML Engineer|    Delhi|      25|
+----------+------------+-------------+---------+--------+