<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Groupby_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7cad82c83550>

In [2]:
data=[
    (101, "Alice", ["Laptop", "Mouse"], 1200.50, "2024-02-15", "Shipped"),
    (102, "Bob", ["Phone"], 800.00, "2024-02-16", "Pending"),
    (103, "Charlie", ["Tablet", "Keyboard"], 600.75, "2024-02-17", "Delivered"),
    (104, "David", ["Monitor"], 300.25, "2024-02-18", "Canceled"),
    (105, "Emma", ["Headphones", "Charger"], 150.00, "2024-02-19", "Shipped"),
    (106, "Frank", ["Smartwatch"], 250.00, "2024-02-20", "Pending"),
    (107, "Grace", ["Camera", "Tripod"], 950.00, "2024-02-21", "Shipped"),
    (108, "Harry", ["Gaming Console"], 499.99, "2024-02-22", "Delivered"),
    (109, "Ivy", ["Bluetooth Speaker"], 129.99, "2024-02-23", "Shipped"),
    (110, "Jack", ["External Hard Drive"], 89.99, "2024-02-24", "Pending")
]

schema=['id','name','items','amount','orderDate','orderStatus']


df = spark.createDataFrame(data,schema)

df.show()

+---+-------+--------------------+------+----------+-----------+
| id|   name|               items|amount| orderDate|orderStatus|
+---+-------+--------------------+------+----------+-----------+
|101|  Alice|     [Laptop, Mouse]|1200.5|2024-02-15|    Shipped|
|102|    Bob|             [Phone]| 800.0|2024-02-16|    Pending|
|103|Charlie|  [Tablet, Keyboard]|600.75|2024-02-17|  Delivered|
|104|  David|           [Monitor]|300.25|2024-02-18|   Canceled|
|105|   Emma|[Headphones, Char...| 150.0|2024-02-19|    Shipped|
|106|  Frank|        [Smartwatch]| 250.0|2024-02-20|    Pending|
|107|  Grace|    [Camera, Tripod]| 950.0|2024-02-21|    Shipped|
|108|  Harry|    [Gaming Console]|499.99|2024-02-22|  Delivered|
|109|    Ivy| [Bluetooth Speaker]|129.99|2024-02-23|    Shipped|
|110|   Jack|[External Hard Dr...| 89.99|2024-02-24|    Pending|
+---+-------+--------------------+------+----------+-----------+

In [5]:
from pyspark.sql.functions import explode

df1 = df.select('id','name',explode('items').alias('items'),'amount','orderDate','orderStatus')
df1.show()

+---+-------+-------------------+------+----------+-----------+
| id|   name|              items|amount| orderDate|orderStatus|
+---+-------+-------------------+------+----------+-----------+
|101|  Alice|             Laptop|1200.5|2024-02-15|    Shipped|
|101|  Alice|              Mouse|1200.5|2024-02-15|    Shipped|
|102|    Bob|              Phone| 800.0|2024-02-16|    Pending|
|103|Charlie|             Tablet|600.75|2024-02-17|  Delivered|
|103|Charlie|           Keyboard|600.75|2024-02-17|  Delivered|
|104|  David|            Monitor|300.25|2024-02-18|   Canceled|
|105|   Emma|         Headphones| 150.0|2024-02-19|    Shipped|
|105|   Emma|            Charger| 150.0|2024-02-19|    Shipped|
|106|  Frank|         Smartwatch| 250.0|2024-02-20|    Pending|
|107|  Grace|             Camera| 950.0|2024-02-21|    Shipped|
|107|  Grace|             Tripod| 950.0|2024-02-21|    Shipped|
|108|  Harry|     Gaming Console|499.99|2024-02-22|  Delivered|
|109|    Ivy|  Bluetooth Speaker|129.99|2024-02-23|    Shipped|
|110|   Jack|External Hard Drive| 89.99|2024-02-24|    Pending|
+---+-------+-------------------+------+----------+-----------+

In [7]:
df1.groupBy('orderStatus') \
   .count().alias('count') \
   .orderBy('count',ascending=True) \
   .show()

+-----------+-----+
|orderStatus|count|
+-----------+-----+
|   Canceled|    1|
|  Delivered|    3|
|    Pending|    3|
|    Shipped|    7|
+-----------+-----+

In [21]:
from pyspark.sql.functions import sum

df1.groupBy('orderStatus') \
   .agg(sum('amount').alias('tamount')) \
   .orderBy('tamount',ascending=False) \
   .show()

+-----------+-------+
|orderStatus|tamount|
+-----------+-------+
|    Shipped|4730.99|
|  Delivered|1701.49|
|    Pending|1139.99|
|   Canceled| 300.25|
+-----------+-------+

In [37]:
df1.groupBy('orderStatus') \
   .avg('amount') \
   .orderBy('orderStatus',ascending=False) \
   .show()

+-----------+------------------+
|orderStatus|       avg(amount)|
+-----------+------------------+
|    Shipped| 675.8557142857143|
|    Pending|379.99666666666667|
|  Delivered| 567.1633333333333|
|   Canceled|            300.25|
+-----------+------------------+