<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_Map_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7f37e3aef490>

In [ ]:
data=[
    (1,'bala','kumar','male',100000,50000),
    (2,'kumar','bala','male',120000,60000)
]

schema=['id','first_name','last_name','gender','salary','bonus']

rdd=spark.sparkContext.parallelize(data)
print(rdd.collect())

[(1, 'bala', 'kumar', 'male', 100000, 50000), (2, 'kumar', 'bala', 'male', 120000, 60000)]

In [ ]:
rdd1=rdd.map(lambda x: x+(x[1]+' '+x[2],x[4]+x[5]))
print(rdd1.collect())

[(1, 'bala', 'kumar', 'male', 100000, 50000, 'bala kumar', 150000), (2, 'kumar', 'bala', 'male', 120000, 60000, 'kumar bala', 180000)]

In [ ]:
df=rdd.toDF(schema)
df.show()

+---+----------+---------+------+------+-----+
| id|first_name|last_name|gender|salary|bonus|
+---+----------+---------+------+------+-----+
|  1|      bala|    kumar|  male|100000|50000|
|  2|     kumar|     bala|  male|120000|60000|
+---+----------+---------+------+------+-----+

In [ ]:
def totalSalary(x):
  return x[4]+x[5]

def fullName(a):
  return a[1]+' '+a[2]

df=spark.createDataFrame(rdd,schema)
rdd1=df.rdd.map(lambda x: x+(totalSalary(x),fullName(x)))
print(rdd1.collect())

df1=rdd1.toDF(['id','first_name','last_name','gender','salary','bonus','total_salary','full_name'])
df1.show()

[(1, 'bala', 'kumar', 'male', 100000, 50000, 150000, 'bala kumar'), (2, 'kumar', 'bala', 'male', 120000, 60000, 180000, 'kumar bala')]
+---+----------+---------+------+------+-----+------------+----------+
| id|first_name|last_name|gender|salary|bonus|total_salary| full_name|
+---+----------+---------+------+------+-----+------------+----------+
|  1|      bala|    kumar|  male|100000|50000|      150000|bala kumar|
|  2|     kumar|     bala|  male|120000|60000|      180000|kumar bala|
+---+----------+---------+------+------+-----+------------+----------+

In [ ]:
df.show()
rdd2=df.rdd.map(lambda x: x+(x[2]+' '+x[1],x[4]+x[5]))
df1=rdd2.toDF(['id','first_name','last_name','gender','salary','bonus','full_name','total_salary']).show()

+---+----------+---------+------+------+-----+
| id|first_name|last_name|gender|salary|bonus|
+---+----------+---------+------+------+-----+
|  1|      bala|    kumar|  male|100000|50000|
|  2|     kumar|     bala|  male|120000|60000|
+---+----------+---------+------+------+-----+

+---+----------+---------+------+------+-----+----------+------------+
| id|first_name|last_name|gender|salary|bonus| full_name|total_salary|
+---+----------+---------+------+------+-----+----------+------------+
|  1|      bala|    kumar|  male|100000|50000|kumar bala|      150000|
|  2|     kumar|     bala|  male|120000|60000|bala kumar|      180000|
+---+----------+---------+------+------+-----+----------+------------+