<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Pyspark_join_function(leftsemi%2Cleftanti_and_self).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Pyspark') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7d0ab6680390>

In [4]:
data1=[
    (1,'bala','male',2000,1),
    (2,'kumar','male',4000,2),
    (3,'balakumar','male',3000,4)
]

schema1=['id','name','gender','salary','depId']

data2=[
    (1,'HR'),
    (2,'IT'),
    (3,'Finance')
]

schema2=['depId','depName']

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)

df1.show()
df2.show()

+---+---------+------+------+-----+
| id|     name|gender|salary|depId|
+---+---------+------+------+-----+
|  1|     bala|  male|  2000|    1|
|  2|    kumar|  male|  4000|    2|
|  3|balakumar|  male|  3000|    4|
+---+---------+------+------+-----+

+-----+-------+
|depId|depName|
+-----+-------+
|    1|     HR|
|    2|     IT|
|    3|Finance|
+-----+-------+

In [5]:
df1.join(df2,df1.depId==df2.depId,'leftsemi').show()

+---+-----+------+------+-----+
| id| name|gender|salary|depId|
+---+-----+------+------+-----+
|  1| bala|  male|  2000|    1|
|  2|kumar|  male|  4000|    2|
+---+-----+------+------+-----+

In [7]:
df1.join(df2,df1.depId==df2.depId,'leftanti').show()

+---+---------+------+------+-----+
| id|     name|gender|salary|depId|
+---+---------+------+------+-----+
|  3|balakumar|  male|  3000|    4|
+---+---------+------+------+-----+

In [9]:
data=[
    (1,'bala',0),
    (2,'kumar',1),
    (3,'balakumar',2)
]

schema=['id','name','managerId']

df=spark.createDataFrame(data,schema)
df.show()

+---+---------+---------+
| id|     name|managerId|
+---+---------+---------+
|  1|     bala|        0|
|  2|    kumar|        1|
|  3|balakumar|        2|
+---+---------+---------+

In [17]:
from pyspark.sql.functions import col

df.alias('userdt').join(df.alias('empdt'),col('userdt.managerId')==col('empdt.id'),'left').show()

+---+---------+---------+----+-----+---------+
| id|     name|managerId|  id| name|managerId|
+---+---------+---------+----+-----+---------+
|  1|     bala|        0|NULL| NULL|     NULL|
|  2|    kumar|        1|   1| bala|        0|
|  3|balakumar|        2|   2|kumar|        1|
+---+---------+---------+----+-----+---------+

In [23]:
df.alias('empData').join(df.alias('managerData'),col('empData.managerId')==col('managerData.id'),'left') \
                   .select(col('empData.name').alias('empName'),col('managerData.name').alias('managerName')) \
                   .show()

+---------+-----------+
|  empName|managerName|
+---------+-----------+
|     bala|       NULL|
|    kumar|       bala|
|balakumar|      kumar|
+---------+-----------+