<a href="https://colab.research.google.com/github/balakumar-dataengineer/testrepo/blob/master/Row_class_in_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Python') \
                          .master('local') \
                          .getOrCreate()

print(spark)

<pyspark.sql.session.SparkSession object at 0x7e44dafa2c50>

In [5]:
from pyspark.sql import Row

data=[
    Row(name='bala',salary=10000),
    Row(name='kumar',salary=20000)
]

df=spark.createDataFrame(data)
df.show()
df.printSchema()

+-----+------+
| name|salary|
+-----+------+
| bala| 10000|
|kumar| 20000|
+-----+------+

root
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [13]:
row1=Row(name='bala',age=25)

print(row1[0]+','+str(row1[1]))
print(row1.name+' '+str(row1.age))

bala,25
bala 25

In [18]:
row3=Row('bala','25')

print(row3[0]+','+row3[1])

bala,25

In [24]:
employee=Row('name','salary')
emp1=employee('bala',20000)
emp2=employee('kumar',30000)

print(emp1, emp2)

print(emp2.salary)

Row(name='bala', salary=20000) Row(name='kumar', salary=30000)
30000

In [25]:
df3=spark.createDataFrame([emp1,emp2])
df3.show()
df3.printSchema()

+-----+------+
| name|salary|
+-----+------+
| bala| 20000|
|kumar| 30000|
+-----+------+

root
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [30]:
from pyspark.sql.functions import explode

data1=[
    Row(name='bala',prop=Row(hair='black',eye='blue')),
    Row(name='kumar',prop=Row(hair='brown',eye='blue'))
]

df5=spark.createDataFrame(data1)
df5.show()
df5.printSchema()

df5.select('name',df5.prop.hair.alias('hair'),df5.prop.eye.alias('eye')).show()

+-----+-------------+
| name|         prop|
+-----+-------------+
| bala|{black, blue}|
|kumar|{brown, blue}|
+-----+-------------+

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

+-----+-----+----+
| name| hair| eye|
+-----+-----+----+
| bala|black|blue|
|kumar|brown|blue|
+-----+-----+----+